.navCont{
    background-color: white;
    border-top: 1px solid black;
    width: 100%;
    position: sticky;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.1);
    z-index: 5000000;
}
.navCont>ul{
    display: flex;
    padding: 1rem;
    gap: 2rem;
}
.navCont>ul> *{
    list-style: none;
    cursor: pointer;
    color: black;
    text-decoration: none;
}

