.upper{
    min-height: 100vh;
}

.mainCont{
    display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem 1.5rem;
  background: linear-gradient(90deg, #2563eb, #1d4ed8);
  color: white;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
}

.mainCont > h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.mainCont > p {
  font-size: 1.1rem;
  opacity: 0.9;
}

.cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.totalIssue,.rate,.time,.active,.resolutionRate{
    background-color: white;
    margin: 0.5rem 1rem;
    padding:1rem 2rem;
    border-radius: 12px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.resolutionRate{
    grid-column: 1 / -1;
  justify-self: center; 
}

.achievements{
    background-color: white;
    margin: 0.5rem 1rem;
    padding:1rem 2rem;
    border-radius: 12px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
}

.earned{
    border: 2px solid yellow;
    background-color: #f7e6b2;
    text-align: center;
    margin: 0.5rem 1rem;
    border-radius: 12px ;
    padding: 1rem 2rem;
}
.earned>p{
    margin-bottom: 0.5rem;
}
.earnedOrNot{
    background-color: rgb(228, 172, 59);
    padding: 0.25rem 0.5rem;
    margin-top: 1rem;
    border-radius: 1222px;
}

.notearned{
    background-color: #f3f2ef;
    text-align: center;
    margin: 0.5rem 1rem;
    border-radius: 12px ;
    padding: 1rem 2rem;
}

@media (max-width: 480px) {
  .cards {
    grid-template-columns: 1fr;
  }
}